
paper/main.aux
paper/main.bbl
paper/main.blg
paper/main.fdb_latexmk
paper/main.fls
paper/main.log
paper/main.out
paper/main.spl
paper/main.synctex.gz
paper/auto
paper/.vscode
.vscode
paper/*.gz
code/.ipynb_checkpoints/*
code/3dDeconvolve.err
paper/sections/__latexindent_temp.tex
